@import url('../place/place__image/place__image.css');
@import url('../place/place__website/place__website.css');
@import url('../place/place__url-heading/place__url-heading.css');
@import url('../place/place__url/place__url.css');
@import url('../place/place__title/place__title.css');
@import url('../place/place__text/place__text.css');
@import url('../place/place__paragraph/place__paragraph.css');
.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(max-content, max-content);
    grid-row-gap: 60px;
    grid-column-gap: 43px;
    margin: 0 0 72px 0;
}


@media screen and (max-width: 1024px) {
   .place {     
        grid-column-gap: 32px;     
    }
} 

@media screen and (max-width: 1000px) {
    .place {        
        grid-column-gap: 32px; 
        
    }
} 

@media screen and (max-width: 768px) {
    .place {        
        grid-column-gap: 28px; 
        
    }
} 

@media screen and (max-width: 500px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 48px;
        grid-gap: 32px;
    }

    .place:last-of-type {
       
        margin-bottom: 0;
        
    }
}
