@import url('../footer__link/footer__link.css');

.footer__menu {
    margin-top: 0;
}

@media screen and (max-width: 500px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 375px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
    }
}